#siderbar {
    background-color: aquamarine;
}

.row{
    display: table-row;
}
.row .float{
    display: table-cell;
}
.container{
    display:table;
    width: 100%;
    margin-top: 0px;
    padding: 0px 0 0 0; /*set left/right padding according to needs*/
    max-width: 100%;
}

html,body,.container{
    height: 100%;
}
.top{
    z-index: -1;
    color: darkgoldenrod;
}