#siderbar {
    background-color: aquamarine;
}
.primc1{
    background-color: rgb(132, 132, 132);
}
.primc2{
    background-color: rgb(102, 96, 89);
}

.altcolor1{
    background-color:green;
}

#MainHeader{
    background-image: url('./HeaderBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#nav-list a:hover {
    cursor: pointer;
}

.hoverline {
    text-decoration: underline;
}

.hoverline:hover {
    cursor: pointer;
}

img.profile-pic {
    width: 100%;
}

img.post-image {
    width: 100%;
}